<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
    <form accept-charset="UTF-8" action="/users/new" method="get">
      <label for="username">User:</label>
      <input type="text" id="username" name="user[user]">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <label for="email">Email:</label>
      <input type="string" id="email" name="user[email]">

      <label for="password">Password:</label>
      <input type="password" id="password" name="user[pass]" minlength="8" required>

      <input type="submit" value="Submit">
    </form>
  </body>
</html> -->

<!-- <html>
  <body>
    <%= form_tag("/users/new", method: :get) do %>

      <%= label_tag(:username, "User:") %>
      <%= text_field_tag(:username) %>

      <%= label_tag(:email, "Email:") %>
      <%= text_field_tag(:email) %>

      <%= label_tag(:password, "Password:") %>
      <%= password_field_tag(:password) %>

      <%= submit_tag("Submit") %>

      <% end %>
  </body>
</html> -->
<html>
  <body>
    <%= form_with url: users_path do |form| %>
    <%= form.text_field :user %>
    <% end %>
  </body>
</html>
