<!-- <html>
  <body>
    <form accept-charset="UTF-8" action="/users/new" method="get">
      <label for="username">User:</label>
      <input type="text" id="username" name="user[user]">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <label for="email">Email:</label>
      <input type="string" id="email" name="user[email]">

      <label for="password">Password:</label>
      <input type="password" id="password" name="user[pass]" minlength="8" required>

      <input type="submit" value="Submit">
    </form>
  </body>
</html> -->

<!-- <html>
  <body>
    <%= form_tag("/users/new", method: :get) do %>

      <%= label_tag(:username, "User:") %>
      <%= text_field_tag(:username) %>

      <%= label_tag(:email, "Email:") %>
      <%= text_field_tag(:email) %>

      <%= label_tag(:password, "Password:") %>
      <%= password_field_tag(:password) %>

      <%= submit_tag("Submit") %>

      <% end %>
  </body>
</html> -->
<!-- <html>
  <body>
    <%= form_with model: @user do |form| %>

    <%= form.label "User:" %>
    <%= form.text_field :user%>

    <%= form.label :email, "Email:" %>
    <%= form.email_field :email, placeholder: "gogo@gmail.com" %>

    <%= form.label :password, "Password:"%>
    <%= form.password_field :password %>


    <%= form.submit "Submit" %>

    <% end %>
  </body>
</html> -->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @user do |form| %>
  <%= form.label "Username:" %>
  <%= form.text_field :user, value: "Test" %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "email@example.com" %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Create" %>
<% end %>
